<p> <%= @letters %> </p>
<form action="/score" method="get">
<%= hidden_field_tag :authenticity_token, form_authenticity_token %>
<%= hidden_field_tag :letters, @letters %>
  <input type="text" name="answer" placeholder="word">
  <input type="submit">
</form>

<%= link_to "Play Again", new_path %>
